<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Welcome Security with Spring Boot!</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MadTech</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="caps">Caps</a></li>
                <li><a href="brings">Beautyrings</a></li>
                <li ><a href="covers">Covers</a></li>
                <li><a href="mouthpiece">MouthPiece</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/login">Login</a></li>
                <li><a href="signup">Sign Up</a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="row col-sm-6" style="padding:20px; float: none; margin: 0 auto; width: 400px">
    <h5 class="text-center" style="font-size: 25px">Login</h5>
    <div th:if="${param.error}">
        <p style="color: red">UserName or PassWord is wrong. Please
            check again!</p>

    </div>
    <div th:if="${param.logout}">
        <h1 style="color: blue">Logged out.</h1>
    </div>
    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="username">User Name: </label>
            <input type="text" class="form-control" id="username" placeholder="Enter UserName" name="username"/>
        </div>
        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password"/>
        </div>
        <button type="submit" class="btn btn-primary btn-block" style="background-color: deepskyblue; border: none">Submit</button>
    </form>
</div>
</body>
</html>